#shoes{
    background-color: rgb(177, 80, 80);
    width: auto;
    height: auto;
    padding-bottom: 0 px;
    contain: content;
}

body{
    background-color: aliceblue;
}
button{
    width: 15rem;
    height: 2.5rem;
    border-radius: 18px;
    border-width: 1px;
    border-color: rgb(80, 65, 65);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
button:hover{
    transform: scale(1.05);
    
}